<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.flutter.plugins.imagepicker">
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true"/>
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="true"/>
    <application>
        android:allowBackup="true"
        android:supportsRtl="true">

        <activity
            android:name=".idcardcamera.camera.CameraActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"/>

        <provider
            android:name="io.flutter.plugins.imagepicker.ImagePickerFileProvider"
            android:authorities="${applicationId}.flutter.image_provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/flutter_image_picker_file_paths" />
        </provider>
    </application>
</manifest>
